
* {
  box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    width: 100%;
    height: 500px;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  @font-face {
    font-family: OriFont;
    src: url('../fonts/Urbanist-Regular.eot');
    src: url('../fonts/Urbanist-Regular.woff');
    src: url('../fonts/Urbanist-Regular.woff2');
    src: url('../fonts/Urbanist-Regular.ttf');
  }

  .centerActive {
    transform: translateX(100px);
    opacity: 0;
  }

  .firstActive {
    transform: rotateZ(-45deg) translateY(13px);
   
  }

  .lastActive {
    transform: rotateZ(45deg) translateY(-13px);
  }

  .active {
    padding-right: 15px;
  }

  .menu-visible {
    display: block; 
}

/* SECOND SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiperMenu>.swiper-wrapper>.swiper-slide {
  width: auto;
  height: 51px;
  background-color: #fafafa;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.mySwiperMenu>.swiper-wrapper {
  height: 51px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;


}

@media (min-width: 1377px) {
  .mySwiperMenu > .swiper-button-next {
    display: none;
  }
  .mySwiperMenu > .swiper-button-prev {
    display: none;
  }
}

body {
  font-family: OriFont;
}