
* {
  box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    width: 100%;
    height: 500px;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  @font-face {
    font-family: OriFont;
    src: url('../fonts/Urbanist-Regular.eot');
    src: url('../fonts/Urbanist-Regular.woff');
    src: url('../fonts/Urbanist-Regular.woff2');
    src: url('../fonts/Urbanist-Regular.ttf');
  }

  .centerActive {
    transform: translateX(100px);
    opacity: 0;
  }

  .firstActive {
    transform: rotateZ(-45deg) translateY(13px);
   
  }

  .lastActive {
    transform: rotateZ(45deg) translateY(-13px);
  }

  .active {
    padding-right: 15px;
  }

  .menu-visible {
    display: block; 
}

/* SECOND SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiperMenu>.swiper-wrapper>.swiper-slide {
  width: auto;
  height: 51px;
  background-color: #fafafa;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.mySwiperMenu>.swiper-wrapper {
  height: 51px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;


}

@media (min-width: 1377px) {
  .mySwiperMenu > .swiper-button-next {
    display: none;
  }
  .mySwiperMenu > .swiper-button-prev {
    display: none;
  }
}

body {
  font-family: OriFont;
}

@media (max-width: 980px) {
  .MyDiv {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .MyPic {
    width: 100%;
    height: 500px;
    order: 1;
  }
  .MyText {
    width: 100%;
    height: auto;
    order: -1;
  }
}

@media (max-width: 1200px) {
  .mySwiperSecond>.swiper-wrapper>.swiper-slide {
height: 280px;
  }
}


.mySwiperMenu>.swiper-button-prev::after {
    font-size: 10px; 
    color: #424750;
    top: 55%;
    
}

.mySwiperMenu>.swiper-button-next::after {
  font-size: 10px; 
  color: #424750;
  top: 55%;
}

.mySwiperMenu>.swiper-button-next {
  background-color: #FAFAFA;
  right: 0;
  padding-right: 5px;
}

.mySwiperMenu>.swiper-button-prev {
  background-color: #FAFAFA;
  left: 0;
  padding-right: 5px;
}

/* second button of the second swiper */
.mySwiperSecond>.swiper-button-prev::after {
  font-size: 27px; 
  color: rgb(51, 51, 51);
  
  
  
}
.mySwiperSecond>.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 56px;
  height: 46px;
  bottom: 0;
  position: absolute;
  top: 90%;
  box-shadow: rgba(0, 0, 66, 0.08) 0px 2px 2px 0px, 
            rgba(0, 0, 66, 0.08) 0px 1px 5px 0px;
  
}

.mySwiperSecond>.swiper-button-next::after {
  font-size: 27px; 
  color: rgb(51, 51, 51);
  
  
  
}
.mySwiperSecond>.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 56px;
  height: 46px;
  top: 90%;
  position: absolute;
  box-shadow: rgba(0, 0, 66, 0.08) 0px 2px 2px 0px, 
            rgba(0, 0, 66, 0.08) 0px 1px 5px 0px;
}



